@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Lato:wght@300;700;900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;


h1{
    line-height: normal;
}

#flor{
    display: block;
}
#petalo1{
    animation: petalo1 1.5s  ease-in-out;
    transform-origin: center;
    transform-box: fill-box;
}
#petalo2{
    animation: petalo2 1.5s  ease-in-out;
    transform-origin: center;
    transform-box: fill-box;
}
#petalo3{
    animation: petalo3 1.7s  ease-in-out;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes petalo1{
    100%{ transform: rotate(360deg);}
}
@keyframes petalo2{
    100%{ transform: rotate(-360deg); }
    /* 0%{opacity: 0.2;} 100%{ opacity: 0.8;} */
}
@keyframes petalo3{
    100%{ transform: rotate(360deg); }
}

.text-shadow{
    text-shadow: 1px 1px 1px #383838e6;
}
.w-pro{
    width: 100%;
}

@media (min-width: 768px){
    .w-pro{
        width: 35%;
    }
}

.menu{
    animation-name: cambio;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}
@keyframes cambio{
    0%{
        opacity: 0;
        transform: rotate(0deg);
    }
    60%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: rotate(360deg);
    }
}
.burder{
    border: none;
}
@media (min-width: 768px){
    .burder{
        border-bottom: 1px solid white;
        border-radius: 0;
    }
}
.borderbl{
    border-radius: 0 0 0 300px;
}
.entrada{
    animation-name: entrada;
    animation-duration: .8s;
    animation-timing-function: ease-in-out;
}
@keyframes entrada{
    0%{
        opacity: 0;
        transform: translateX(-60px);
    }
    60%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.down{
    animation-name: downy;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}
@keyframes downy{
    0%{
        opacity: 0;
        transform: translateY(-60px);
    }
    60%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0 20px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #b1b1b1;
    border-radius: 25px;
    border: 0px solid #000101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: #0c6c8e;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.6px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #b1b1b1;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #b1b1b1;
    border-radius: 25px;
    border: 0px solid #000101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: #0c6c8e;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #b1b1b1;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: #b1b1b1;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: #0c6c8e;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #b1b1b1;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #b1b1b1;
  }
  